:root {
  --container-width: 1600px;
  --basic-space: 1rem;
  --bg-white: #ffffff;
  --text-color: #323264;
  --color-linear-gradient: linear-gradient(
    90.13deg,
    #f0145a 0.84%,
    #ef8080 99.96%
  );
  --color-red: #f0145a;
  --color-grey: #b3b3ba;
  --color-blue: #24A3FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--bg-white);
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
}

.hidden {
  display: none !important;
}
