@media print {
  a {
    color: inherit !important;
  }
  img {
    filter: grayscale(1);
  }
  * {
    color: black !important;
  }
}

@media (min-width: 760px) {
  :root {
  --big-container-width: 648px;
  --small-container-width: 648px;
  --basic-space: 3.75rem;
  }
  .header .line {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    height: 0;
  }
  .header-logo {
    display: grid;
    grid-template-columns: 130px 21px auto;
    margin-bottom: 30px;
  }
  .page-name {
    font-size: 36px;
  }
  .header-contacts {
    align-items: center;
    text-align: start;
    margin-top: 0;
  }
  .header .dot {
    visibility: visible;
  }
  .input:hover ~ span {
    background-color: var(--bg-grey-light);
    border-radius: 8px;
  }
  .header-contacts .adress {
    visibility: visible;
  }
  .header-contacts .fb-icon {
    visibility: visible;
  }
  .item-3 {
    grid-area: 3 / 1 / 3 / 1;
  }
  .burger,
  .hide-check {
    display: none;
  }
  .header .header-link {
    transform: none;
    position: static;
    transition: none;
    flex-direction: row;
    padding: 0;
    gap: 0;
  }
  .header-link .nav-link {
    background: transparent;
    border-radius: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    min-width: 0;
  }
  .small-container .main-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team-section .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .team-section .item-img {
    height: 400px;
  }
  .footer .dot {
    visibility: visible;
  }
  .footer .adress {
    flex-direction: row;
  }
  .footer .conect {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  :root {
  --big-container-width: 904px;
  --small-container-width: 664px;
  }
  .header .big-container {
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
  }
  .item-1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .item-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .item-3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .header .wrap {
    padding: 50px 6px 0 6px;
  }
  .header-contacts {
    justify-content: flex-end;
  }
  .team-section .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .big-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .conect {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  :root {
  --big-container-width: 1320px;
  --small-container-width: 1080px;}
  }
@media (min-width: 1700px) {
 :root {
  --big-container-width: 1600px;
  --small-container-width: 1360px;
  }
}