@import url("./basic.css");
@import url("./header.css");
@import url("./footer.css");

.bg-white {
  background-color: var(--color-white);
  color: var(--color-black);
}

.gap-4 {
  gap: 4px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-end {
  justify-content: flex-end;
}
/* -----------------MAIN TITLE------------------ */
.small-container .main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* ------------------TEAM PAGE------------------ */
.team-section {
  margin-bottom: 60px;
}
.team-section .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.team-section .item-img {
  border-radius: 12px;
  margin-bottom: 15px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.team-section .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-name {
  font-weight: 700;
}
.card:hover .item-name {
  color: var(--color-red);
  transition: all 0.2s linear;
}
.item-work {
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
  margin-top: 5px;
}
.item-svg {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #ededf7;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.card:hover svg path {
  stroke: var(--color-red);
  transition: all 0.2s linear;
}
/* --------------------------------------- */
