@import url("./basic.css");
@import url("./header.css");

.bg-black {
  background-color: var(--color-black);
  color: var(--color-white);
}
.bg-darkbeige {
  background-color: var(--color-darkbeige);
  color: var(--color-black);
}
.flex {
  display: flex;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-4{
  gap: 4px;
}
